body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("main image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    /* Change this value to adjust the opacity */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 20px;
}

textarea {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #FFA500;
}

main {
    margin-top: 120px;
    padding: 20px;
}

button {
    display: inline-block;
    margin-left: 10px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
}